@{
    PageTitle pageTitle = ViewBag.PageTitle;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
@if (pageTitle != null)
{
<title>@pageTitle.Title</title>
}
else
{
    <title>@Config.CompanyName</title>
}