@model IQueryable<ProductItem>

<div id="main">
    <h1>Admin</h1>
    <div>
        <h2>Наши продукты</h2>
        <div>
            <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="">Добавить продукт</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ProductItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display:inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Products" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Name}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div>
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageCatalog">Каталог</a>
        <a asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
        <a asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageAbout">О нас</a>
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>