<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Мы тут</h1>
        <p>
            Товар можно забрать на м.Профсоюзная.
        </p>
    </div>
</div>
<div id="mapid" style="width: 100%; height: 300px; position: relative;" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4499.3700719854005!2d37.56160877645016!3d55.67707701054949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54cc1ed647835%3A0x2eef6a76332c0c1f!2z0J_RgNC-0YTRgdC-0Y7Qt9C90LDRjw!5e0!3m2!1sru!2sru!4v1614033047705!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>   
</div>