@model IQueryable<MainSliderContent>
@{
    string pageTitle = "Редактировать главный слайдер";
    ViewBag.Title = pageTitle;
}

<div style="margin: 20px">
    <div class="form">
        <h1 class="h2 pb-4">@pageTitle</h1>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Назад</a>
        <br/>
        <div>
            @{
                int i = 1;
                @foreach (MainSliderContent entity in Model)
                {
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="MainSliderContent" asp-action="Edit" asp-route-id=@entity.Id>Редактировать @i элемент слайдера</a>
                    i++;
                }
            }
        </div>
    </div>
</div>