@model MainSliderContent
@{
    string pageTitle = "Редактировать контент слайдера";
    ViewBag.Title = pageTitle;
}

<div style="margin: 20px">
    <div class="form">
        <h1 class="h2 pb-4">@pageTitle</h1>
        <div>
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="MainSliderContent" asp-action="EditMainSliderContent">Назад</a>
            <br/>
            <form asp-area="Admin" asp-controller="MainSliderContent" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="All"></div>
                <div>
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-for="Title"></label>
                    <input class="form-control" id="titleItem" asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                    <br />
                </div>
                <div>
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-for="SubTitle"></label>
                    <input class="form-control" id="description" asp-for="SubTitle" />
                    <span asp-validation-for="SubTitle"></span>
                    <br />
                </div>
                <div>
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-for="Description"></label>
                    <input class="form-control" id="description" asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                    <br />
                </div>
                <div>
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-for="Alt"></label>
                    <input class="form-control" id="description" asp-for="Alt" />
                    <span asp-validation-for="Alt"></span>
                    <br />
                </div>
                <div>
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none">Изображения лучше подгонять под: 800x800px (равное соотношение сторон)</label>
                </div>
                <div class="row">
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none">Текущее изображение</label>
                    @if (Model.Image != null)
                    {
                        <img class="col-md-4 card" src="@string.Format("data:image/{0};base64,{1}",Model.Extension ,Convert.ToBase64String(Model.Image))" />
                    }
                    <br />
                </div>
                <div>
                    <br />
                    <label class="collapsed d-flex justify-content-between h3 text-decoration-none" asp-for="Image"></label>
                    <input class="form-control" type="file" name="titleImageFile" id="titleImageFile" onchange="handleFiles(this.files)" accept="image/*" />
                    <br />
                </div>
                <div class="row" id="preview">

                </div>
                <br />
                <input class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" type="submit" value="Сохранить" />
            </form>
        </div>
    </div>
</div>